@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

iframe {
    margin: 0 auto;
}
.data {
    &__comments {
        border-right: 1px solid $supporting-blue;
        margin: 0;
        padding: 0;
        width: 30rem;
        height: fit-content;
        &--content {
            margin: 0 auto;
            width: 25rem;
            h5 {
                margin: 0;
                padding: .2rem 0 .2rem .75rem;
                font-size: 1.1rem;
                font-weight: 600;
                letter-spacing: -.02rem;
                color: $secondary-cloud;
            }
            p {
                margin: 0;
                color: $secondary-cloud;
                padding: .35rem 0 .75rem .5rem;
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: -.02rem;
            }
        }
    }
    &__episodes {
        margin: 0;
        margin-top: 2rem;
        width: 23rem;
        padding-left: 2rem;
        h4 {
            margin: 0;
            padding: .5rem 0 .25rem .5rem;
            font-size: 1.5rem;
            font-weight: 800;
            letter-spacing: -.02rem;
            color: $secondary-cloud;
        }
        p {
            border-top: .08rem solid $secondary-cloud;
            margin: 0;
            padding: .5rem 0 1rem .5rem;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: -.02rem;
            color: $secondary-cloud;
        }
    }
}