$font-weight-regular: 400;
$font-weight-semi-bold: 600;

// Colors
// $primary-black: #13182c;
$primary-blue: #6CB4E6; 
// $primary-white: #FFFFFF; 

// $secondary-slate: #5c667e; 
$secondary-slate: #5F6F84; 
$secondary-cloud: #F7F7F8; 

$background-graphite: #21212D; 
$background-grey: #2F2F3B; 

$supporting-blue: #abd8f6;
$supporting-green: #C5F687;
