@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100px;
    &__input {
        border: none;
        border-radius: 5px;
        padding: .75rem 3rem 3rem .5rem;
        font-size: 1rem;
        font-weight:400;
        color: $background-grey;
        width: 17rem;
    }
    &__submit {
        margin-top: 1rem;
        // align-self: flex-end;
        width: 11rem;
        border: none;
        border-radius: 5px;
        padding: .5rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: $supporting-blue;
        color: $background-graphite;
        &:hover {
            background-color: #6cb3e6d1; 
            color: $secondary-cloud;
            cursor: pointer;
        }
    }
}