@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2.25rem;
    height: 5rem;
    padding-bottom: 14rem;
    margin: 0 auto;
    @include desktop {
        padding-bottom: 15.5rem;
        padding-top: 1.5rem;
        align-items: flex-start;
    }
    h4 {
        text-shadow: 5px 5px 10px $background-graphite;
        margin: 0 auto;
        font-weight: 800;
        letter-spacing: -.01rem;
        color: $secondary-cloud;
        font-size: 1.5rem;
        @include desktop {
            padding: .5rem 0 .1rem .25rem;
            font-size: 1.75rem;
            margin: 0;
        }
    }
    p {
        margin: 0 auto; 
        padding: .5rem;
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: -.02rem;
        color: $secondary-cloud;
        @include desktop {
            padding: .1rem 0 .75rem .25rem;
            font-size: 1.25rem;
            margin: 0;
        }
    }
    textarea {
        border: none;
        border-radius: 7px;
        width: 19rem;
        height: 6rem;
        font-family: open sans;
        font-size: .9rem;
        font-weight: 600;
        padding: .75rem;
        @include desktop {
            width: 23rem;
        }
    }
    &__submit {
        margin-top: .75rem;
        align-self: flex-end;
        width: 9.5rem;
        border: none;
        border-radius: 5px;
        padding: .6rem 1.2rem;
        font-size: 1rem;
        font-weight: 600;
        background-color: $supporting-blue;
        color: $background-graphite;
        &:hover {
            background-color: #6cb3e6f6; 
            color: $secondary-cloud;
            text-shadow: 1px 1px 5px $background-graphite;
            margin: 1.1rem -.1rem 0 0 ;
            cursor: pointer;
        }
    }
}