@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.blue {
    background-color: $supporting-blue;
    color: $background-grey;
}

.grey {
    background-color: $secondary-slate;
    color: $secondary-cloud;
}

.white {
    background-color: $secondary-cloud;
    color: $background-grey;
}
.episode-card {
    height: 15rem;
    border-radius: 10px;
    width: 12.5rem;
    font-size: .8rem;
    margin: .5rem .75rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: .5rem;
    font-weight: 800;
    p {
        font-size: .9rem;
        margin: 0;
        padding: .5rem ;
    }
    h2 {
        font-size: 1.2rem;
        margin: 0;
        padding: 0  0 0 .5rem;
    }

    &__container {
        display: flex;
        display: inline-flex;
    }
    &__title {
        text-decoration: none;
    }
}
::-webkit-scrollbar {
    height: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 16px $secondary-slate; 
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background: $supporting-blue; 
    border-radius: 15px;
    box-shadow: inset 0 0 14px $secondary-cloud; 
}
