@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.episode-card {
    height: 15.25rem;
    border-radius: 10px;
    width: 12.7rem;
    font-size: .8rem;
    margin: .5rem;
    background-color: $supporting-blue;
    color: $background-grey;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: .5rem;
    font-weight: 800;
    &__container {
        display: flex;
        flex-wrap: wrap;
        width: 98%;
        justify-content: space-around;
    }
}