@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.sidebar {
    margin-top: .8rem;
    @include tablet {
    max-width: 19rem;
    display:  flex;
    flex-direction: column;
    @include desktop {
        width: 25rem;
    }
        &-section {
            margin: .4rem .2rem .5rem .7rem;
            border-radius: 25px;
            background-color: $background-grey;
        }
        &-selector {
            display: flex;
            align-items: baseline;
            justify-content: start;
            border-radius: 25px;
            padding: .25rem;
            &:active, &:hover, &:target {
                background-color: #f9f9f9;
                color: #363636 !important;
                cursor: pointer;
                span {
                    fill: currentColor;
                    color: black;
                }
            }
            &__non-active {
                display: flex;
                align-items: baseline;
                justify-content: start;
                font-size: 1.3rem;
                span {
                    fill: currentColor;
                    color: $primary-blue;
                    font-size: 3rem;
                    padding-right: 0;
                }
            }
        }
    }
        h2, h1 {
            letter-spacing: -.03rem;
        }
        h1 {
            color: $supporting-blue;
        }

}

span {
    padding: 0 1.5rem;
    fill: currentColor;
    color: whitesmoke;
}

