// iframe {
//     // width: 50%;
// }
@use "../src/styles/partials/variables.scss" as *;

body {
    background-color: $background-graphite;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: $secondary-cloud;
}
.app-flex {
    display: flex;
}
h2 {
    font-weight: 100;
}
.page {
    &__display-flex {
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 0 auto;
    }
    &__main {
        background-color: $background-grey;
        border-radius: 25px;
        width: 98%;
        margin: 0 auto;
    }
}

.card__container {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    display: inline-flex;
    width: 98%;
    margin: 0 auto;  
    height: 22rem;
    text-decoration: none;
    scroll-behavior: smooth;
    // scrollbar-track-color: antiquewhite;
    scrollbar-color: antiquewhite;
    scrollbar-width: thin;
    font-size: 1.5rem;
    h3 {
        margin: 1rem 0 0 1rem;
    }

}
iframe {
    padding: 2rem;
}