// iframe {
//     // width: 50%;
// }
@use "../src/styles/partials/variables.scss" as *;

body {
    background-color: $background-graphite;
    font-family: "Open Sans", 'Lucida Sans', Geneva, Verdana, sans-serif;
}
.app-flex {
    display: flex;
}
.page {
    &__display-flex {
        //FOR RIGHT SIDE PAGE
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 0 auto;
    }
    &__main {
        //FOR BOTTOM RIGHT ONLY
        background-color: $background-grey;
        border-radius: 25px;
        width: 98%;
        margin: 0 auto;
        height: fit-content;
        min-height: 38rem;
        h1 {
            font-size: 1.9rem;
            text-transform: uppercase;
            letter-spacing: -.01rem;
            margin-bottom: -.75rem;
            margin-top: .75rem;
            padding-left: 1.5rem;
            font-weight: 800;
            color: $secondary-cloud;
        }
    }
}


.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 96%;
    margin: 0 auto;
    height: 5.5rem;
    h1 {
        text-shadow: -2px 2px 3px rgba(19, 19, 33, 0.966);
        font-size: 2.2rem;
        color: $secondary-cloud;
        font-weight: 800;
    }
    &__user-id {
        display: flex;
        width: 15rem;
        align-self: center;
        justify-content: space-apart;
        background-color: $background-grey;
        border-radius: 10px;
    }
}
.dropdown {
    width: 10rem;
    height: 3rem;
    margin: 0  0 0.25rem 0;
    background-color: $background-grey;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    color: $secondary-cloud;
    appearance: none;
    cursor: pointer; 
}
.display-flex {
    &__inline {
        display: flex;
        color: $secondary-cloud;
        font-size: 1.25rem;
        padding-right: .75rem;
        span {
            font-size: 1.7rem;
            margin-left: 1.25rem;
        }
    }
    &__column {
        display: flex;
        flex-direction: column;
        color: $secondary-cloud;
        padding-right: .75rem;
    }
}
.align-items__center {
    align-items: center;
    justify-content: flex-end;

}   
.justify-content {
    &__flex-end {
        justify-content: flex-end;
    }
    &__space-around {
        justify-content: space-around;
    }

    &__flex-end {
        justify-content: flex-end;
    }
}

.border-top {
    border-top: 1px solid $secondary-cloud;
    padding-top: 1rem;
    margin-top: 1rem;
}